
<table style="width: 100%; font-family: Arial;font-size: 13px;color: #555;background-color: #eeeeee;">
    <tbody>
        <tr>
            <td style="padding:20px 0 30px 0">
                <table align="center" style="width:600px;">
                    <tbody>
                        <tr><td style="background-color:#62ca37; height:15px;"></td></tr>
                        <tr>
                            <td style="background-color:#ffffff; padding:5px 20px">
                                <table style="width:100%">
                                    <tbody>
                                        <tr>
                                            <td valign="middle">
                                                <a style="color:#0084b4;text-decoration:none" href="{{LoginUrl}}" title="Parent Portal" target="_blank">
                                                    <img style="display:block; height:50px;" alt="logo" src="http://www.yesprep.org/sites/default/files/yesretinalogo.png">
                                                </a>
                                            </td>
                                            <td style="text-align:right" valign="middle">
                                                <a style="text-decoration:none; color:#ffffff; padding:6px 20px; border-radius:15px; display:inline-block; text-align:center; border:1px solid rgba(0,0,0,.1); background-color:#62ca37;" href="{{LoginUrl}}" title="Learn more" target="_blank"><span>Parent Portal</span> Alert</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="background-color:#f9f9f9">
                                <h2 style="color:#666; text-align:center; margin:40px 80px; line-height:1.5em">
                                    {{AlertMessage}}
                                </h2>
                            </td>
                        </tr>
                        <tr>
                            <td style="background-color:#ffffff; text-align:center;padding:40px; border-top:1px solid #eee">
                                <a style="color:#ffffff; text-decoration:none;padding:16px 20px;border-radius:4px;display:inline-block;text-align:center;border:1px solid rgba(0,0,0,.1);background-color:#62ca37;font-size:1.1em" href="{{LoginUrl}}" target="_blank">
                                    Learn more in the <b>Parent Portal</b>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:center; color:#333; padding:20px; background-color:#eeeeee">
                                <p style="color:#777;font-size:.9em">
                                    This email was sent by <span>The Parent Portal</span> at Yes Prep Public Schools
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>