<main role="main" class="container h-100">
    <div class="row justify-content-center h-100">
        <div class="col-xl-6">
            <div ng-if="ctrl.isApplicationOffline" class="alert alert-danger align-middle"><i class="ion-md-alert f-s-20"></i> {{'view.login.app_online_status' | translate}}</div>
            <!--<div class="alert alert-danger"><i class="ion-md-information-circle f-s-20"></i> {{'view.login.app_pilot' | translate}}</div>-->
            <div class="card">
                <div class="card-body">
                    <div class="text-right">
                        <language-chooser></language-chooser>
                    </div>
                    <div class="text-center">
                        <img src="clientapp/assets/img/cf_logo_district.png" alt="District Logo" />
                    </div>
                    <h1 class=" text-center m-t-25">{{'view.login.app_name' | translate}}</h1>
                    <!--<h2 ng-if="!ctrl.isApplicationOffline" class="text-center m-t-10 f-s-16">
                        {{'view.login.log_into_account' | translate}}
                    </h2>-->
                    <div ng-if="!ctrl.isApplicationOffline" class="text-center m-t-20">

                        <a ng-if="ctrl.showAzure" href="#" ng-click="ctrl.loginSSO('azure')" class="btn btn-primary m-b-10">Login With Azure Active Directory</a>

                        <a ng-if="ctrl.showGoogle" href="#" ng-click="ctrl.loginSSO('google')" class="btn btn-primary m-b-10">{{'view.login.log_into_account' | translate}}</a>

                        <a ng-if="ctrl.showHotmail" href="#" ng-click="ctrl.loginSSO('hotmail')" class="btn btn-primary m-b-10">Login With Hotmail</a>

                        <a ng-if="ctrl.showFacebook" href="#" ng-click="ctrl.loginSSO('facebook')" class="btn btn-primary m-b-10">Login With Facebook</a>

                        <span class="f-s-12 m-t-10">
                            {{'App Browser' | translate}}
                            <i class="icon ion-logo-chrome"></i>
                        </span>

                        <p class="m-t-30">
                            <a href="#" ng-click="ctrl.logOutSSO()">{{'view.login.sign_out' | translate}}</a>
                        </p>
                        <p class="m-t-30" ng-if="ctrl.model.userInfo.isAuthenticated">
                            {{'view.login.currentlyt_loged_in_as' | translate}}: {{ctrl.model.userInfo.userName}}
                            <br />
                            <a href="#" ng-click="ctrl.logOutSSO()" tooltip-placement="bottom" uib-tooltip="Expires ({{ctrl.model.tokenExpires | date:'medium'}})">{{'view.login.sign_out' | translate}}</a>
                        </p>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <span class="text-left">
                        <a ui-sref="app.privacypolicy"><i class="icon ion-md-lock"></i> {{'Privacy Policy' | translate}}</a>
                    </span>
                    <div class="dropdown login-feedback-button">
                        <a class="btn btn-fill-help"
                           id="dropdown"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false"
                           tooltip-placement="bottom"
                           uib-tooltip="{{'HelpTooltip' | translate}}">
                            <i class="ion ion-md-help"></i>
                        </a>
                        <div aria-labelledby="dropdown02" class="dropdown-menu dropdown-menu-right">
                            <button class="dropdown-item" type="button" ng-click="ctrl.showFeedbackModal()"> {{'Feedback' | translate}}</button>
                            <button class="dropdown-item" type="button" ng-click="ctrl.goToExternalUrl()"> {{'Help' | translate}}</button>
                        </div>
                    </div>
                    <div class="float-right">{{ctrl.model.version}}</div>
                </div>
            </div>
        </div>
    </div>
</main>