<link rel="stylesheet" ng-href="clientapp/modules/directives/studentAttendanceCalendar/studentAttendanceCalendar.style.css">

<div class="card">
    <div class="card-body">
        <table class="calendar-engagement">
            <thead>
                <tr class="calendar-engagement-title"><th colspan="5">{{ctrl.calendar.monthName | translate}} {{ctrl.calendar.year}}</th></tr>
                <tr class="calendar-engagement-sub-title">
                    <th>{{'Mon' | translate}}</th>
                    <th>{{'Tue' | translate}}</th>
                    <th>{{'Wed' | translate}}</th>
                    <th>{{'Thu' | translate}}</th>
                    <th>{{'Fri' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="week in ctrl.calendar.weeks">
                    <td ng-repeat="day in week track by $index" class="{{day.class}}" title="{{day.eventTitle}}">
                        <span>{{day.day}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
