.calendar-engagement {
    width: 100%;
    padding:0.8rem;
    min-width:100px;
}

.calendar-engagement-title th {
    background-color: white !important;
    color: #454545 !important;
    border-bottom: 1px solid #ece3e3;
}

.calendar-engagement-sub-title th {

    color: #454545;
}

.calendar-engagement th, .calendar-engagement td {
    text-align: center;
    min-width: 40px;
    background: white;
    color: #454545;
    height: unset;
}

.calendar-engagement th {
    
}


.calendar-engagement td.excused {
    background-color: #c43235;
    color: white;
}

.calendar-engagement td.unexcused {
    background-color: #c43235;
    color: white;
}

.calendar-engagement td.tardy {
    background-color: #ffa000;
    color: white;
}

.calendar-engagement td.disabled {
    background-color: white;
    color: #eee;
}

.calendar-engagement td.noninstructional {
    background-color: #f1f1f1;
    color: #d6d6d6 !important;
}

.calendar-engagement td.excused,
.calendar-engagement td.unexcused,
.calendar-engagement td.noninstructional {
    cursor: help;
}

.calendar-engagement td.currentDay {
    border: 1px solid #2196f3;
}
