<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!-- Defines the application running mode: Values are "Demo", "Local" and "Production"-->
    <add key="application.mode" value="Local" />
    <!-- Defines the image provider to use: Values are "DemoImageProvider", "BlobImageProvider" and "ConventionBasedImageProvider"-->
    <add key="image.provider" value="ConventionBasedImageProvider" />
    <!-- Defines the database running mode: Values are "EdFi25","EdFi26","EdFi31"-->
    <add key="application.ed-fi.version" value="EdFi31" />
    <!-- Defines the hour that the alert is going to fire for unread messages values are between 0 and 23)"-->
    <add key="unread.message.alert.hour" value="16" />

    <!-- Identity providers -->
    <add key="authentication.azure.visible" value="true"/>
    <add key="authentication.azure.tenant" value="toolwise.onmicrosoft.com"/>
    <add key="authentication.azure.sso" value="https://login.microsoftonline.com/{0}/oauth2/authorize?response_type=id_token&amp;client_id={1}&amp;redirect_uri={2}&amp;scope=openid&amp;nonce={3}"/>
    <add key="authentication.azure.clientId" value="c34f1634-092c-476e-baa9-29e429717879"/>
    <add key="authentication.azure.redirecturl" value="http://localhost/Student1.ParentPortal.Web/"/>
    <add key="authentication.azure.url.token.validation" value="https://login.microsoftonline.com/{0}/v2.0/.well-known/openid-configuration"/>

    <add key="authentication.google.visible" value="true"/>
    <add key="authentication.google.sso" value="https://accounts.google.com/o/oauth2/auth?response_type=id_token&amp;redirect_uri={0}&amp;scope=https://www.googleapis.com/auth/userinfo.email%20https://www.googleapis.com/auth/userinfo.profile&amp;client_id={1}"/>
    <add key="authentication.google.clientId" value="936225412291-0e16mbg99i7iqfip94uqf9gfsc8or451.apps.googleusercontent.com"/>
    <!--<add key="authentication.google.redirecturl" value="https://familyportal.nearshoredevs.com"/>-->
    <add key="authentication.google.url.token.validation" value="https://accounts.google.com/.well-known/openid-configuration"/>

    <add key="authentication.hotmail.visible" value="false"/>
    <add key="authentication.hotmail.sso" value="https://login.microsoftonline.com/common/oauth2/authorize?response_type=id_token&amp;client_id={0}&amp;redirect_uri={1}&amp;nonce={2}"/>
    <add key="authentication.hotmail.clientId" value="[HOTMAIL_CLIENTID]"/>
    <add key="authentication.hotmail.redirecturl" value="http://localhost/Student1.ParentPortal.Web/"/>
    <add key="authentication.hotmail.url.token.validation" value="https://login.microsoftonline.com/common/v2.0/.well-known/openid-configuration"/>

    <add key="authentication.facebook.visible" value="false"/>
    <add key="authentication.facebook.sso" value="https://www.facebook.com/v9.0/dialog/oauth?client_id={0}&amp;redirect_uri={1}&amp;scope=email&amp;state={2}"/>
    <add key="authentication.facebook.clientId" value="[FACEBOOK_CLIENTID]"/>
    <add key="authentication.facebook.clientSecret" value="[FACEBOOK_CLIENTSECRET]"/>
    <add key="authentication.facebook.redirecturl" value="http://localhost/Student1.ParentPortal.Web/"/>
    <add key="authentication.facebook.url.token.validation" value="https://graph.facebook.com/v9.0/oauth/access_token?client_id={0}&amp;redirect_uri={1}&amp;client_secret={2}&amp;code={3}"/>
    <add key="authentication.facebook.url.extract.information" value="https://graph.facebook.com/v9.0/me?fields=email,first_name,last_name,name&amp;access_token={0}"/>

    <!-- Image Providers -->
    <!-- Physical storage configurations -->

    <!--<add key="student.image.path" value="clientapp/assets/img/student/" />
    <add key="parent.image.path" value="clientapp/assets/img/parent/" />
    <add key="staff.image.path" value="clientapp/assets/img/teacher/" />-->

    <add key="student.image.path" value="clientapp/assets/img/demo/student/" />
    <add key="parent.image.path" value="clientapp/assets/img/demo/teacher/" />
    <add key="staff.image.path" value="clientapp/assets/img/demo/teacher/" />

    <add key="default.image.path" value="clientapp/assets/img/profile-default.png" />

    <!-- Azure BLOB settings-->
    <add key="azure.storage.connectionString" value="DefaultEndpointsProtocol=https;AccountName=[AzureAccountName];AccountKey=[AzureAccountKey];EndpointSuffix=core.windows.net" />

    <add key="azure.student.container" value="students" />
    <add key="azure.parent.container" value="parents" />
    <add key="azure.staff.container" value="staff" />

    <add key="azure.default.image.container" value="app" />
    <add key="azure.default.image.file" value="profile-default.png" />

    <!-- Messaging Parameters -->
    <!-- Email SMTP parameters -->
    <!-- There are many services for SMTP like (SendGrid, mailjet, etc...) -->
    <add key="feedback.emails" value="dontreply@student1.org" />
    <add key="messaging.email.defaultFromEmail" value="dontreply@student1.org" />
    <add key="messaging.email.defaultFromDisplayName" value="Parent Portal: Dont Reply" />
    <add key="messaging.email.server" value="smtp.sendgrid.net" />
    <add key="messaging.email.port" value="587" />
    <!-- 25, 587 or 465 for SSL connections-->
    <add key="messaging.email.user" value="[SendGridUser]" />
    <add key="messaging.email.pass" value="[SendGridKey]" />

    <!-- Translation Service -->
    <!-- Note: Currently configured with Azure but very easy to make implementation for others like Google or AWS-->
    <add key="translation.ApiUrl" value="https://api.cognitive.microsofttranslator.com/" />
    <add key="translation.Name" value="[AzureCognitiveUser]" />
    <add key="translation.Key" value="[AzureCognitiveKey]" />

    <add key="demo.date" value="2011-05-03" />

    <!-- JWT signing params-->
    <add key="Jwt:Key" value="REPLACEMEveryVerySecretKey" />
    <add key="Jwt:Issuer" value="https://localhost/" />
    <add key="Jwt:Audience" value="Parent Portal" />
    <add key="Jwt:ExpiresInMinutes" value="30" />

    <!-- SignalR Chat service-->
    <!-- Environment options are: local and azure-->
    <add key="signalr.env" value="local" />
    <add key="cache.on" value="false" />
    <add key="cache.timeInMinutes" value="5" />

    <!-- Push Notifications Service-->
    <add key="notifications.ApiUrl" value="[PushNotificationsURL]" />
    <add key="notifications.Key" value="[PushNotificationsKey]" />
    <add key="notificatinos.SenderId" value="[PushNotificationsSenderId]" />

    <add key="mobileapp.version.parent" value="0.0.17"/>
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="EdFi25ConnStr" connectionString="Database=EdFi_Ods_Populated_Template_25; Data Source=.; Persist Security Info=True; Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <add name="EdFi26ConnStr" connectionString="Database=edfi_ods_populated_template_26; Data Source=.; Persist Security Info=True; Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <add name="EdFi31ConnStr" connectionString="Database=Ed-Fi_v5.1.0_ODS_FamilyEngagementQuickStart; Data Source=.; Persist Security Info=True; Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <!-- SignalR Connection String-->
    <add name="Azure:SignalR:ConnectionString" connectionString="[AzureSignalRConnectionString]" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.7.1" />
    <httpRuntime targetFramework="4.7.1" />
  </system.web>
  <system.diagnostics>
    <switches>
      <add name="Microsoft.Owin" value="Verbose" />
    </switches>
  </system.diagnostics>
  <system.webServer>
    <handlers>
      <!-- Added for Browser Link Live Reload-->
      <add name="Browser Link for HTML" path="*.html" verb="*" type="System.Web.StaticFileHandler, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" resourceType="File" preCondition="integratedMode" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.4.0.0" newVersion="5.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.4.0.0" newVersion="5.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.4.0.0" newVersion="5.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Xml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.4.0.0" newVersion="5.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>