<div class="card">
    <div class="card-body">
        <h3>{{'view.disciplineIncidents.title'  | translate}} <span>{{'view.disciplineIncidents.subtitle' | translate}}</span></h3>
        <div class="text-center min-height-200" ng-if="ctrl.model.yearToDateDisciplineIncidentCount == 0"><span>No Suspendable Behaviors.</span></div>
        <div class="table-responsive">
            <table class="table table-xs table-striped" ng-if="ctrl.model.yearToDateDisciplineIncidentCount > 0">
                <thead>
                    <tr>
                        <th>{{'Date' | translate}}</th>
                        <th>{{'Description' | translate}}</th>
                        <th>{{'view.disciplineIncidents.actionsTaken' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="d in ctrl.model.disciplineIncidents">
                        <td>{{d.incidentDate | date: 'M/d/yy'}}</td>
                        <td>{{d.description}}</td>
                        <td><ul><li ng-repeat="a in d.disciplineActionsTaken">{{a.description}}</li></ul></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <span class="float-right mr-2">{{'view.disciplineIncidents.moreDetail' | translate}}<a title="{{ctrl.model.externalLink.title}}" target="_blank" href="{{ctrl.model.externalLink.url}}?source={{ctrl.heroClient}}&sid={{ctrl.studentUniqueId}}">{{ctrl.model.externalLink.linkText}}</a></span>
    </div>
</div>